/*
Theme Name: Projektownia
Theme URI: http://design.stanowczo.pl
Author: Stanowczo Design
Author URI: http://design.stanowczo.pl
Description: Projektownia is a child theme of BlankSlate v.4.0.3 (https://wordpress.org/themes/blankslate/) authored by http://tidythemes.com/.
Template: blankslate
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blankslate
Text Domain: projektownia

Projektownia WordPress Theme © 2016 Stanowczo Design
Projektownia WordPress Theme is distributed under the terms of the GNU GPL 
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    font:inherit;padding:0;border:0;margin:0;vertical-align:baseline
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

body{
    line-height: 1;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}

a {
    color:inherit;
}

p{
    font-weight: 200;
    line-height: 1.5em;
}

ol,ul{
    list-style:none
}

blockquote,q{
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
    content:'';content:none
}

table{
    border-collapse:collapse;border-spacing:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}

.clear{
    clear:both
}

.sticky{
    
}

.bypostauthor{
    
}

.wp-caption{
    
}

.wp-caption-text{
    
}

.gallery-caption{
    
}

.alignright{
    
}

.alignleft{
    
}

.aligncenter{
    
}

.screen-reader-text{
    clip:rect(1px, 1px, 1px, 1px);position:absolute !important
}

footer{
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer{
    color:#999999;
}

#header{
    padding-top: 2em;
}

#header-logo{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.menu-item{
    display:inline;
}

#menu{
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    z-index: 100;
}

nav#menu a{
    text-decoration: none;
    color:black;
    font-size: inherit;
    font-weight:400;
}

nav#menu li{
    margin-left: 1.5%;
    margin-right: 1.5%;
    font-size: 1em;
    position: relative;
}

nav#menu span{
    margin-right: -2%;
}

.sub-menu{
  z-index: 99;
  position: absolute;
  left: 0;
  margin-top: 1em;
  padding-top: 1em;
  text-align: left;
  line-height:1.7em;
  font-size: .9em;
  display: none;
  background-color: rgba(255,255,255,.7);
}
.sub-menu a{
  color: #999 !important;
}
nav#menu li:hover .sub-menu{
  display: inline;
}

#branding {    
    font-family: "Josefin Sans", sans-serif;
    font-kerning: 100pt;
    font-size: 2em;
    text-align: center;
    font-weight: 200;
}

#branding a{
    text-decoration: none;
    color: black;
}

#logo-container{
    width:180px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.7em;
}

#copyright {
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

.entry-content, .entry-summary{
    text-align: left;
    max-width: 633px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
}

.entry-content-wide{
    max-width: 800px !important;
}

.post header, .main-page-label{ 
    font-family: "Roboto Condensed", sans-serif;
    z-index: 999;
    background-image: url("../../images/czarny_podlew_tytul.jpg");
    position: absolute;
    float: left;
    clear:both;
    background-color: black;
    width: 140px;
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px;
    font-size: 1.4em;
    text-transform: uppercase;
    border: solid;
    border-width: 6px;
    border-color: #ffffff;
    margin-left: 21%;
    margin-top: 40px;
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
}

.post .header-toTheLeft{
    margin-left: 15%;
}

.post {
    margin-top: 4em;
    margin-bottom: 6em;
}

.entry-date{
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-top: 1em;
    letter-spacing: 0.1em;
}

.entry-title{
    font-weight: 700;
    margin-bottom: 2em;
    margin-top: .7em;
    line-height: 1.2em;
    letter-spacing: .1em;
}

.entry-title a{
    color: white;
    text-decoration: none;        
}

div.headerHorizontalLine{
    margin-top: 0.7em;
    width:30px;
    height: 1px;
    background-color: #fff;   
}

div.postHorizontalLine{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width:auto;
    max-width: 633px;
    height: 1px;
    background-color: #000;   
}

div.postHorizontalLineWide{
    max-width: 800px;  
}

.wp-tiles-container{
    z-index: 100;
    margin-bottom: 2em;
    margin-left: -5px;
    margin-right: auto;
}

.social {
    display: inline;
    text-transform: uppercase;
}

.postFooterSocial, .post-tags, .comments-title, .comment-reply-title{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;    
    position:relative;
    display: block;
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    max-width: 633px;
    text-transform: uppercase;
}

.comment-reply-title{
    margin-left:0px !important;
    text-align:left !important;
    margin-bottom:.8em;
    margin-top:1em;
}

.postFooterSocial li{
    margin-left: 0.8em;
    margin-right: 0.8em;    
}

.postFooterSocial li.facebook-like{
    margin-right: 0;    
}

.more-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none !important;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85em;
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 0.4em;
    padding-bottom:0.4em;
    margin-top: 1em;
    transition: all 1000ms ease;
}

.more-link a {
    text-decoration: none;
}

.more-link:hover, .nav-previous:hover, .nav-next:hover, .show-comments:hover, a.page-numbers:hover{
    background-color: #f1f2f2;
}

#nav-below {
    max-width: 633px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 10px;
}

.nav-previous, .nav-next{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: inline;   
    transition: all 1000ms ease;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom:0.5em;
    position:relative;
}

.nav-previous{
    display: block;
    float:left;
}

.nav-previous span{
    margin-right: 1em;
}

.nav-next{
    display: block;
    float:right;
}

.nav-next span{
    margin-left: 1em;
}

#nav-below a{
    text-decoration: none;
    font-weight: 200;
}

div.contactPageHorizontalLine{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width:auto;
    max-width: 150px;
    height: 3px;
    background-color: #000;  
}

.type-page .entry-content{
    margin-top: 3.08em;
}

.type-page .entry-content h1, .type-page .entry-content div{
    text-align: center;
}

.type-page .entry-content h1{
    font-size: 1.5em;
    font-weight: 600;
}

.contactDetails{
    font-size: 1em;
    font-weight: 200;
    padding-bottom:4em;
}

.contactDetails a{
    text-decoration: none;
    line-height: 2em;
}

.type-page header{
    display: none;
}

.slicknav_menu{
    background-color: transparent;
}

.slicknav_nav{
    background-color: rgba(255,255,255,0.8);
}

.post-tags a{
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    color: #999; 
    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

.below-instagram {
    position: relative;
    margin-top: 2em;
    max-width: 633px;
    margin-left: auto;
    margin-right: auto;
}

#footerHorizontalLine{
    margin-bottom: 1.1em !important;
}

#footerLogos {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 633px;
    margin-bottom: 1em;    
}

#footerLogos img{
    vertical-align: middle;
}

#footerLogos a{
    margin-left: 40px;
    margin-right: 40px;
}

div.wp-tiles-tile-bg:hover::before{
    content:url(../../images/pinIt.png);
}

.yarpp-related{
    font-size: .77em;
}

div.yarpp-related h3{
    font-size:1em;
}

.yarpp-thumbnails-horizontal, .yarpp-thumbnail a{
    text-align: center !important;
}

.yarpp-thumbnail {
    border: none !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

.yarpp-thumbnail-title{
    font-size: 1em;
    font-weight: 200 !important;
    text-align: center !important;
}

#comments{
    max-width:633px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4em;    
}

#comments section ul, #comments div{
    padding-left:.5em;
    padding-right:.5em;
}

#comment{
    width:60%;
    background-color:#fff;
    border:solid 1px;
    border-color:#ccc;
    height:200px;
}

.comment-form p label{
    margin-bottom:.5em;
    margin-top:1em;
    display:block;
}

.comment-form p input{
    border-radius:0;
    background-color:#fff;
    border:solid 1px;
    border-color:#ccc;
    padding: .8em;
}

.submit{
    border:0 !important;
    color:#fff;
    background-color:#000 !important;
    cursor:pointer;
    padding: .8em !important;
    text-transform:uppercase;
    letter-spacing:.1em;
    font-size:.9em; 
    margin-top:2em;
    margin-bottom:1em;
    font-weight: 200;
}

.comment-body{
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: solid 1px;
    border-color: #ccc;
}

.page-numbers{
    text-decoration: none;
}

.paginated-comments-links .current{
    font-size: 1.3em;
}

.paginated-comments-links{
    margin-top:1.5em;
    margin-bottom:1.5em;
}

.comment-author a.url, .comment-author .fn{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

.comment-author span.says{
    display: none;
}

.comment-author .avatar{
    display: block;
    float: left;
    margin-right: 1em;
}

.comment-meta a{
    text-decoration: none;
    font-weight: 200;
}

.comment-meta, .comment-author{
    margin:.3em;
    display: block;
}

.comment-body p{
    display: block;
    clear: both;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 1em;
}

div.reply, div.reply a{
    text-transform: uppercase;
    font-weight: 200;
    text-decoration: none !important;
    padding-left: 0 !important;
}

.show-comments {
    display:inline-block;
    margin-left: 2em;
    padding: 0 1em 0 1em !important;
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
    cursor:pointer;
}

.comments-without-header {
    display:none;
}

.main-page-tiles{
    margin-left: auto;
    margin-right: auto;   
    max-width:800px !important;
}

.main-page-tiles .col{
    transition: width .5s ease;
}

.main-page-tiles .tile{
    height:380px;   
    margin: 4px;
    overflow:hidden;
    transition: width .5s ease; 
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.tile-top-left{
    border-right: solid 4px white;
    padding-right: 0;
}

.tile-top-right {
    background-image: url(../../images/projektowanie_wnetrz.jpg);
    border-left: solid 4px white;
    padding-left: 0;
}

.tile-bottom-left {
    background-image: url(../../images/home_staging.jpg);
    border-right: solid 4px white;
    padding-right: 0;
}

.tile-bottom-right {
    background-image: url(../../images/kontakt.jpg);
    border-left: solid 4px white;
    padding-left: 0;
}

.tile {
    background-position: center center;
    background-size: cover;
}

.tile-focused:hover div{
    filter:grayscale(0);
    -webkit-filter:grayscale(0);
    animation-name: ungray;
    animation-duration: .5s;
    -webkit-animation-name: ungray .5s;
}

.tile-outOfFocus div{
    filter:grayscale(1);
    -webkit-filter:grayscale(1);
    animation-name: makeGray 1s;
    -webkit-animation: makeGray 1s;
}

.main-page-label{
    width:fit-content;
    position:absolute !important;
    margin-left:0;
    font-size: .8em;
    text-align: left !important;
    font-weight: 700;
    min-height: 90px;
    max-width: 115px;
    letter-spacing: .06em;
}

#main-page-label-zBloga{
    font-size: .6em;
}

#main-page-label-zBloga-title{
    line-height: 1em;
    font-size: 1.524em;
}

.main-page-label-narrow{
    max-width: 119px !important;
    font-weight: 500;
    padding-bottom: 1.8em;
}

.main-page-label span{
    padding-top: .425em;
    vertical-align: middle;
    position: relative;
    font-weight: 700;
    top:.4em;
    font-size: 1.144em;
}

#main-page-label-contact{
    top:25%;
    margin-top:0;
    margin-bottom:0;
    left:10%;
    right:auto;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    position: absolute;
    z-index: 999;
    color: #fff;
    text-align: left;
    -webkit-transition: all 1s ease; 
    transition: all 1s ease;
}

#main-page-label-contact p{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 200;
    margin-left: 10px;
    font-size: .9em;
    color: #222;
    line-height: 1.3em;
}

#main-page-label-contact .main-page-label{
    right:auto !important;   
    min-height: 0;
    border: 1px solid #222;
    background: none;
    color: #222;
    font-weight: 200;
    max-width: 140px;
}

#main-page-label-contact .btn-hover-bg {
    display:block;
    background-color: #222;
	height:100%;
	width:0%;
	left:0;
	top:0;
	position:absolute;
	transition:all .2s ease-in-out;
	z-index:0;
}

#main-page-label-contact span{
    font-weight: 200;
    z-index: 20 !important;
    padding: 0;
    top: 0;
    font-size: 1em;
    transition:all .2s ease-in-out;
}

.main-page-label-btn:hover span{
    color: #fff;
}

.main-page-label-btn:hover .btn-hover-bg{
    width:100% !important;
}

.tile-left-container .main-page-label{
    left:-50px;
}

.tile-right-container .main-page-label{
    right:-50px;
}

.tile-left-container{
    padding-right:0;
}

.tile-right-container{
    padding-left:0;
}

.tile-projektowanie{
    height: 170px !important;
    margin-top:2px !important;
    margin-bottom:2px !important;
}

.tile-projektowanie:hover .tile-projektowanie-hover, .tile-projektowanie:focus .tile-projektowanie-hover{
    background: rgba(0,0,0,.6);
}

.tile-projektowanie:hover p, .tile-projektowanie:focus p{
    display:block;
}

.tile-projektowanie-hover {
    width:100%;
    height:100%; 
    position:absolute;
    display:block;
    background: rgba(0,0,0,0); /* For browsers that do not support gradients */
    -webkit-transition: all 500ms ease; 
    transition: all 500ms ease;
}

.tile-projektowanie p{
    display: none;
    position:absolute;
    top: 48%;
    width:100%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color:white;
    font-size: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.col-projektowanie{
    padding-right:2px;
    padding-left:2px;
}

.info-projektowanie div{
    border-bottom:1px solid #333;
    width:220px;
}

.info-projektowanie p{
    text-transform:uppercase;
    padding: .5em 0 .5em 0;
    font-family: "Raleway",sans-serif;
    font-size: 12px;
}

.nav-pagination{
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nav-pagination ul a{
    display: inline;
    padding: .7em 1em .7em 1em;
    transition: all 1000ms ease;
}

.nav-pagination .current{
    font-weight: 700;
    font-size: 1.15em;
    padding: .7em 1em .7em 1em;
}

/*-------------------------RWD----------------------------*/
@media only screen and (max-width: 991px){
    .main-page-tiles-projektowanie{
        max-width:95% !important;  
    } 
    
    .tile-projektowanie{
        height: 230px !important;
    }
}

@media only screen and (max-width: 870px){
    .tile-left-container .main-page-label{
        left:0;
    }

    .tile-right-container .main-page-label{
        right:0;
    }
}

@media only screen and (max-width: 830px){
    .tile-left-container .main-page-label{
        left:10px;
    }

    .tile-right-container .main-page-label{
        right:10px;
    }
}

@media only screen and (max-width: 767px){
    .main-page-tiles-projektowanie{
        max-width:85% !important;  
    } 
    
    .tile-projektowanie{
        height: 290px !important;
    }
}

/*Menu changes to burger*/
@media only screen and (max-width: 700px) {
    .post header, .post .header-toTheLeft{ 
        border-top-width: 0;
        margin-left: 0;
        margin-top: 0;        
    }
    .sub-menu{
      position: relative;
      top:0;
      left: auto;
      display: block;
      background-color: inherit;
    }
    .sub-menu a{
      color: black !important;
    }
}

@media only screen and (max-width: 600px) {
    .main-page-tiles .col{  
        max-height: 380px;
        width:100%;
    }
    .main-page-tiles{
        max-width:90%;  
    }
    
    .tile-left-container{
        padding-right:15px !important;
    }

    .tile-right-container{
        padding-left:15px !important;
    }
    
    .tile{
        border:none;
        border-bottom: 8px solid #fff;
    }
    
    .tile-projektowanie{
        border:none !important;
    }    
    
    .tile-left-container .main-page-label{
        left:0;
    }

    .tile-right-container .main-page-label{
        right:0;
    }
}

@media only screen and (max-width: 535px){
    .main-page-tiles-projektowanie{
        max-width:90% !important;  
    } 
    
    .tile-projektowanie{
        height: 250px !important;
    }
}

/*animations*/
@-webkit-keyframes ungray {
    0% {
        -webkit-filter:grayscale(1);
    }
    100% {
        -webkit-filter:grayscale(0);
    }
}

@keyframes ungray {
    0% {
        filter:grayscale(1);
    }
    100% {
        filter:grayscale(0);
    }
}

@-webkit-keyframes makeGray {
    0% {
        -webkit-filter:grayscale(0);
    }
    100% {
        -webkit-filter:grayscale(1);
    }
}

@keyframes makeGray {
    0% {
        filter:grayscale(0);
    }
    100% {
        filter:grayscale(1);
    }
}